<h1>Sessions#index</h1>
<table>
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th colspan="2">Actions</th>
  </thead>
  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.name %></td>
        <td><%= session.start_time %></td>
        <td><%= session.end_time %></td>
        <td>
          <%= link_to "Edit", edit_event_session_path(session) %>
        </td>
        <td>
          <%= link_to "Delete", event_session_path(session), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
